

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://unpkg.com/axios@1.6.7/dist/axios.min.js"></script>
<script>
    const PostDetailApp = {
        delimiters: ['[[',']]'], //Vue랑 Django 템플릿 충돌 방지
        data() {
            return {
                post: {},
                prevPost:{},
                nextPost:{},
                cetaList:[],
                tagList :[],
            };
        },
        created(){
            console.log("created()...");
            const postId = location.pathname.split('/')[3];
            this.fetchPostDetail(postId);
            this.fetchCateTagList();
        },
        methods: {
            fetchPostDetail(postId) {
                console.log("fetchPostDetail()...", postId)
                axios.get(`/api/post/${postId}`)
                .then(res => {
                    console.log("FETCH POSTDETAIL GET RES", res);
                    this.post = res.data.post;
                    this.prevPost = res.data.prevPost;
                    this.nextPost = res.data.nextPost;
                })
                .catch(err => {
                    console.log("FETCH POSTDETAIL GET ERR.RESPONSE", err.response);
                    alert(`${err.response.status}${err.response.statusText}`);
                });
            },
            fetchCateTagList(){
                axios.get('/api/catetag')
                .then(res=>{
                    console.log("FETCHCATELIST()...",res);
                    this.cateList = res.data.cateList;
                    this.tagList = res.data.tagList;
                })
                .catch(err=>{
                    console.error("Error fetchong category and tag list:", err.response);
                    alert(`${err.response.status}${err.response.statusText}`);
                });
            },
        },
        
    };

Vue.createApp(PostDetailApp).mount('#page-top')
</script>