

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://unpkg.com/axios@1.6.7/dist/axios.min.js"></script>
<script>

    const PostDetailApp = {
        delimiters: ['[[',']]'], //Vue랑 Django 템플릿 충돌 방지
        data() {
            return {
                post: {},
                prevPost:{},
                nextPost:{},
                cetaList:[],
                tagList :[],
                commentList:[],
            };
        },
        created(){
            console.log("created()...");
            const postId = location.pathname.split('/')[3];
            this.fetchPostDetail(postId);
            this.fetchCateTagList();
        },
        methods: {
            
            fetchPostDetail(postId) {
                console.log("fetchPostDetail()...", postId)
                axios.get(`/api/post/${postId}`)
                .then(res => {
                    console.log("FETCH POSTDETAIL GET RES", res);
                    this.post = res.data.post;
                    this.prevPost = res.data.prevPost;
                    this.nextPost = res.data.nextPost;
                    this.commentList = res.data.commentList;
                })
                .catch(err => {
                    console.log("FETCH POSTDETAIL GET ERR.RESPONSE", err.response);
                    alert(`${err.response.status}${err.response.statusText}`);
                });
            },
            fetchCateTagList(){
                axios.get('/api/catetag')
                .then(res=>{
                    console.log("FETCHCATELIST()...",res);
                    this.cateList = res.data.cateList;
                    this.tagList = res.data.tagList;
                })
                .catch(err=>{
                    console.error("Error fetchong category and tag list:", err.response);
                    alert(`${err.response.status}${err.response.statusText}`);
                });
            },
            serverPage(category='',tag=''){
                console.log("serverPage()...", category, tag);
                if (category && tag) alert(`serverPage() both args Error ${category} and ${tag}`);
                else if(category) location.href = `/?category=${category}#portfolio`;
                else if (tag) location.href = `/?tag=${tag}#portfolio`;
                else location.href = '#portfolio';
            },
            likeCount(postId){
                console.log("likeCount()...", postId);
                axios.get(`/api/like/${postId}`)
                .then(res=>{
                    console.log("LIKE-COUNT GET RES", res)
                    this.post.like = res.data;
                })
                .catch(err=>{
                    console.error("Error like count get res:", err.response);
                    alert(`${err.response.status}${err.response.statusText}`);
                });

            },


            submitForm() {
                console.log("submitForm()...");
                let formdata = new FormData(document.getElementById('comment-form'));
                formdata.set('post', this.post.id);
                console.log(formdata)

                const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content')

                axios.post('/api/comment/create/', formdata, {
                    headers: {
                        'X-CSRFToken':csrfToken
                    }
                })
                    .then(res => {
                        console.log("CREATE-COMMENT POST RES", res);
                        this.commentList.push(res.data);
                    })
                    .catch(err => {
                        console.log("CREATE-COMMENT GET ERR.RESPONSE", err.response);
                        alert(`${err.response.status} ${err.response.statusText}`);
                    });
            },
        },
        
    };

Vue.createApp(PostDetailApp).mount('#page-top')
</script>